li {

    & .tasks_actions {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & .complete {
            display: flex;
            justify-content: flex-start;
            cursor: pointer;

            &:hover {
                color: greenyellow;
            }
        }

        & .trash {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}

.completed {
    background-color: #d3f9d8;
    padding: 10px;
    border-radius: 10px;
    text-decoration: line-through;
}